@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-dm-sans: DM Sans, "sans-serif";
  --font-montserrat: Montserrat, "sans-serif";
  --color-brandYellow: #F7B500;
  --color-brandDark: #0F0F0F;
  --color-valentineRed: #E63946;
  --softPink: #FFF1F2;
} 